button{
    background: linear-gradient(45deg,red,white,blue);
    border: 2px solid maroon;
    border-radius: 0px 10px 0px 15px;
    margin: 110px;
    padding: 20px;
    
    
}
body{
   background: linear-gradient(61deg,pink,black);
}
h1{
    color: rgb(252, 252, 252);
}
h6{
    color: rgb(0, 255, 170);
}
h5{
    color: rgb(255, 255, 255);
}
h2{
    color:wheat;

}
h3{
    color: white;
}
h4{
    color: white;
}